<h1>Neighbourhoods</h1>

<% @neighbourhoods.each do |neighbourhood| %>
  <p>
    <strong>
      <%= link_to neighbourhood.name, neighbourhood_path(neighbourhood) %>
    </strong>
    -
    Electoral Ward: <%= neighbourhood.electoral_ward %>
    -
    Sites: <%= neighbourhood.sites.count %>
  </p>
<% end %>

<%= paginate @neighbourhoods %>
<p><strong>Results:</strong> <%= @neighbourhoods.total_count %></p>