<h1><%= @neighbourhood.name %></h1>

<p><strong>Electoral Ward:</strong> <%= @neighbourhood.electoral_ward %></p>
<p><strong>Total Sites:</strong> <%= @neighbourhood.sites.count %></p>

<h2>Sites</h2>

<% @neighbourhood.sites.each do |site| %>
  <p>
    <strong>
      <%= link_to(site.park.presence || site.street.presence || "View Site", site_path(site)) %>
    </strong>
    <br>

    <% if site.location_class.present? %>
      Location Class: <%= site.location_class %><br>
    <% end %>

    <% if site.property_type.present? %>
      Property Type: <%= site.property_type %><br>
    <% end %>

    Trees at this site: <%= site.trees.count %>
  </p>
  <hr>
<% end %>

<p><%= link_to "Back to Neighbourhoods", neighbourhoods_path %></p>