<h1>Winnipeg Trees</h1>

<%= form_with url: trees_path, method: :get, local: true do %>
  <div>
    <%= label_tag :search, "Search trees" %>
    <%= text_field_tag :search, params[:search] %>
    <%= link_to "Clear Filters", trees_path %>
  </div>

  <div>
    <%= label_tag :neighbourhood_id, "Filter by neighbourhood" %>
    <%= select_tag :neighbourhood_id,
        options_from_collection_for_select(@neighbourhoods, :id, :name, params[:neighbourhood_id]),
        include_blank: "All neighbourhoods" %>
  </div>

  <%= submit_tag "Search" %>
<% end %>

<hr>

<% @trees.each do |tree| %>
  <p>
    <strong><%= link_to(tree.common_name.presence || "Unnamed Tree", tree_path(tree)) %></strong>
    <% if tree.botanical_name.present? %>
      - <%= tree.botanical_name %>
    <% end %>
    <br>

    Site:
    <%= link_to(tree.site.park.presence || tree.site.street.presence || "View Site", site_path(tree.site)) %>
    |
    Neighbourhood:
    <%= link_to tree.site.neighbourhood.name, neighbourhood_path(tree.site.neighbourhood) %>
  </p>
<hr>
<% end %>

<%= paginate @trees %>
<p><strong>Results:</strong> <%= @trees.total_count %></p>