<nav>
  <%= link_to "Trees", trees_path %> |
  <%= link_to "Sites", sites_path %> |
  <%= link_to "Neighbourhoods", neighbourhoods_path %> |
  <%= link_to "About", about_path %>
</nav>

<hr>

<%= yield %>